@import url('base.css');

header{
    width: 100%;
    height: 0.5rem;
    background: #EC3B31;
    overflow: hidden;
    text-align:center;
    font-family: "宋体";
    font-size: 0.16rem;
    line-height: 0.5rem;
    color:#fff;
}
header>span{
    width: 0.3rem;
    height: 100%;
    font-family: "宋体";
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.5rem;
    color:#fff;
    position: absolute;
    top:0;
    left:0;
}
.jiazai{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    display: none;
}
.jiazai img{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;

    /* display: block;
     width: 100%;
     height: 100%;*/
}
main{
    width:100%;
    height: auto;
    padding:0.05rem;
    box-sizing: border-box;
}
main .title{
    width:auto;
    font-size: 0.18rem;
    margin:0 auto;
    text-align: center;
    padding:0.05rem;
    margin-bottom: 0.05rem;
    border-bottom:1px solid #ccc;
}
main .content{
    font-size: 0.16rem;
    margin-bottom: 0.05rem;
    padding:0.05rem;
    margin-bottom: 0.05rem;
    border-bottom:1px solid #ccc;
}
main .picture{
    width: 100%;
    height: 3rem;
}
main .picture img{
    display: block;
    width: 100%;
    height: auto;
}
main .content p{
    text-indent: 2em;
    margin-bottom: 0.05rem;
}
main .content p img{
    display: block;
    width: 100%;

}
main .time{
    font-size: 0.12rem;
    margin-bottom: 0.05rem;
}
main .src{
    font-size: 0.12rem;
    margin-bottom: 0.05rem;
}